<!--&lt;!&ndash; Change the width and height values to suit you best &ndash;&gt;-->
<!--<div class="typeform-widget typeform" data-url="https://erdosresearch.typeform.com/to/LhC7Cj" data-text="erdos" style="width:100%;height:500px;"></div>-->
<!--<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>-->
<!--<div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=typeform_LhC7Cj&amp;utm_source=website&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=English" style="color: #999" target="_blank">Typeform</a></div>-->

<div class="container-fluid">
  <div class="main-section row">
    <div class="overview-container col-md-10 col-md-offset-1">
      <span class="list_heading">New in your field</span>
      <hr>
      <div class="row">
        <% @new_in_field.each do |new_in_field_doc| %>
            <div class="col-xs-6 col-md-2">
              <a href="<%= paper_path '', :paper => new_in_field_doc %>" class="thumbnail">
                <span class="fa fa-file-text-o"/>
                <div class="caption">
                  <h4><%= new_in_field_doc %></h4>
                  <span class="fa-ellipsis-h"/>
                </div>
              </a>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main-section row">
    <div class="overview-container col-md-10 col-md-offset-1">
      <span class="list_heading">Trending in your field</span>
      <hr>
      <div class="row">
        <% @trending_in_field.each do |trending_in_field_doc| %>
            <div class="col-xs-6 col-md-2">
              <a href="#" class="thumbnail">
                <span class="fa fa-file-text-o"/>

                <div class="caption">
                  <h4><%= trending_in_field_doc %></h4>
                  <span class="fa-ellipsis-h"/>
                </div>
              </a>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main-section row">
    <div class="overview-container col-md-10 col-md-offset-1">
      <span class="list_heading">New Reviews</span>
      <hr>
      <div class="row">
        <% @new_reviews.each do |new_review| %>
            <div class="col-xs-6 col-md-2">
              <a href="#" class="thumbnail">
                <span class="fa fa-file-text-o"/>

                <div class="caption">
                  <h4><%= new_review %></h4>
                  <span class="fa-ellipsis-h"/>
                </div>
              </a>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>