<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67995810-1', 'auto');
      ga('send', 'pageview');

  </script>
</head>
<body>

    <div class="row" id="hero">
      <video loop="loop" preload="auto" autobuffer autoplay id="pretzel-video" class="video-playing">
        <source src="<%= asset_url 'lamp.mp4' %>" type="video/mp4">
      </video>
    </div>

      <div class="row">
        <div class="va-welcome">
          <h2>Welcome</h2>
          <h4>To Open Science</h4>
          <a href="<%= new_user_session_path %>" class="btn hide-sm btn-contrast btn-large btn-semi-transparent js-show-how-it-works">
            Start
          </a>
        </div>

        <div class="row overview-panel text-center col-sm-8 col-sm-offset-2">
          <p>We are currently reaching out to those who believe that a better scientific communication and community model is possible.
          If you would be interested in finding out more or contributing to this effort then please subscribe</p>
          <br>
          <hr>
          <div class="community-overview col-md-4 col-sm-12">
            <span class="overview-icon mega-octicon octicon-organization"></span>
            <p>Developing Community</p>
          </div>
          <div class="publication-overview col-md-4 col-sm-12">
            <span class="overview-icon mega-octicon octicon-book"></span>
            <p>Research Management</p>
          </div>
          <div class="review-overview col-md-4 col-sm-12">
            <span class="overview-icon mega-octicon octicon-light-bulb"></span>
            <p>Innovation And Ideas</p>
          </div>
          </div>

      </div>

</body>
</html>