<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <title>ERDOS</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</head>

<body>
<!--Navbar-->

<div class="container-fluid">

  <div class="row">
    <nav class="navbar navbar-custom navbar-fixed-top" id="#navbar">
      <nav class="navbar-inner">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-nav-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">ERDOS</a></div>
          <div class="collapse navbar-collapse" id="example-nav-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="">Publications</a></li>
              <li><a href="">Open Science</a></li>
              <li><a href="">About</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </nav>
  </div>

  <div class="row">
    <div id="hero">
      <div align="center" class="banner-video embed-responsive embed-responsive-16by9">
        <video autoplay loop class="embed-responsive-item">
          <source src='' type='video/mp4'>
        </video>
      </div>
      <video loop="loop" preload="auto" autoplay id="pretzel-video" class="video-playing">
        <source src="<%= asset_url 'lamp.mp4' %>" type="video/mp4">
      </video>
    </div>

    <div class="va-welcome">
      <h2>Welcome</h2>
      <h4>To a better scientific method</h4>
      <a href="/" class="btn hide-sm btn-contrast btn-large btn-semi-transparent js-show-how-it-works">
        Learn More
      </a>
    </div>
  </div>

  <div class="row">
    <footer class="footer">
      <div class="container">
        <p class="footer-content">© ERDOS <%= Time.now.year %></p>
      </div>
    </footer>
  </div>



</div>
</body>
</html>