<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <script>
      ga('send', 'pageview', '/');
  </script>
</head>
<body>

    <div class="row" id="hero">
      <video loop="loop" preload="auto" autobuffer autoplay id="pretzel-video" class="video-playing">
        <source src="<%= asset_url 'lamp.mp4' %>" type="video/mp4">
      </video>
    </div>

      <div class="row">
        <div class="va-welcome">
          <h2>Welcome</h2>
          <h4>To Open Science</h4>
          <a href="<%= new_user_session_path %>" class="btn hide-sm btn-contrast btn-large btn-semi-transparent js-show-how-it-works">
            Start
          </a>
        </div>

        <div class="row overview-panel text-center col-sm-8 col-sm-offset-2">
          <p>At present we have no product. We are reaching out to people to find out what issues they see and what they feel the science community should look like.
          If you'd be interested in following our journey and shaping our efforts then please subscribe.</p>
          <br>
          <hr>
          <div class="community-overview col-md-4 col-sm-12">
            <span class="overview-icon mega-octicon octicon-organization"></span>
            <p>Developing Community</p>
          </div>
          <div class="publication-overview col-md-4 col-sm-12">
            <span class="overview-icon mega-octicon octicon-book"></span>
            <p>Research Management</p>
          </div>
          <div class="review-overview col-md-4 col-sm-12">
            <span class="overview-icon mega-octicon octicon-light-bulb"></span>
            <p>Innovation And Ideas</p>
          </div>
          </div>

      </div>

</body>
</html>