<head>
  <script>
      ga('send', 'pageview', '/about');
  </script>
</head>

<div class="col-md-8 col-sm-12">

  <h1>Open Science</h1>
  <p>
    Current scientific communication methods create unnecessary barriers in the way of progress, innovation, and transparency in research. They also limit the reach and scope of ideas, results,
    and collaboration between scientists and also to the public. For the most part researchers would like to be more open with how they communicate their work and ideas.
    <br>
    <br>
    ERDOS is aimed at those who believe that a better scientific communication model is possible. For researchers, we recognise the need to
    to maximise impact and manage productivity in facilitating change to the status quo. For those whose interest is more casual we also aim to open up research
    and make content more accessible. We provide:
  <ul class="about-points-list">
    <li type="square">An accessible timeline that helps researchers manage the evolution of ideas and results</li>
    <li type="square">A community to disseminate thoughts, ideas, and questions</li>
    <li type="square">A platform to rank the importance of papers through post-publication review and citation analysis</li>
    <li type="square">An opportunity to maximise scientific standing using qualitative metrics</li>
    <li type="square">Transparency in science</li>
  </ul>

  </p>

</div>

<div class="col-md-4 col-sm-12 text-center" style="padding-top: 10%;">
  <a href="<%= new_user_session_path %>" class="btn hide-sm btn-contrast btn-large btn-semi-transparent about-begin">
    Start
  </a>
</div>

<div class="col-sm-12 text-center">
  <hr>
  <img width="50" height="37" style="margin-bottom: 1rem;" src="<%= asset_path 'ef_logo.png' %>">
  <p>ERDOS is part of <a href="https://www.joinef.com">Entrepreneur First</a>, Europe's foremost pre-seed startup incubator.</p>
</div>