<div class="col-md-8 col-sm-12">

  <h1>Open Science</h1>
  <p>
    Current scientific communication methods create unnecessary barriers in the way of progress and innovation in research. Current methods limit the reach and scope of ideas, results,
    and collaboration. For the most part researchers would like to be more open with how they communicate their work and ideas - however
    time pressure often makes this infeasible. Unless solutions to sharing and communicating research inherently take in to account the demands on
    researchers to maximise their output and raise impact, solutions in the space of open science will not be effective.
    <br>
    <br>
    ERDOS is aimed at scientists who believe that a better scientific communication model is possible but need to
    ensure that they maximise their impact and manage their productivity in doing so. We provide:
  <ul>
    <li type="square">An accessible timeline that helps you manage the evolution of your ideas and results</li>
    <li type="square">Provide a community for researchers to disseminate their thoughts an ideas among their peers</li>
    <li type="square">Maximise the importance of their papers through post-publication review and citation analysis</li>
  </ul>

  </p>

</div>

<div class="col-md-4 col-sm-12 text-center" style="padding-top: 10%;">
  <a href="<%= new_user_session_path %>" class="btn hide-sm btn-contrast btn-large btn-semi-transparent about-begin">
    Start
  </a>
</div>

<div class="col-sm-12 text-center">
  <hr>
  <img width="50" height="37" style="margin-bottom: 1rem;" src="<%= asset_path 'ef_logo.png' %>">
  <p>ERDOS is part of <a href="https://www.joinef.com">Entrepreneur First</a>, Europe's foremost pre-seed startup incubator.</p>
</div>