// Place all the styles related to the welcome controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


$va-font_color: #ffffff;
$va-background-color:#E36937;

#pretzel-video {
  bottom: 0;
  position: absolute;
  width: 100%;
}

video {
  display: inline-block;
}

#hero {
  z-index: -1;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 50%;
  overflow: hidden;
  min-width: 1045px;
}


.js-show-how-it-works{
  background-color: #ffffff;
  opacity: 0.5;
  border-style: none;
}

h2{
  font-family: 'Oxygen', sans-serif;
}

.va-welcome{
  color: $va-font_color;
  text-align: center;
  align-items: center;
}