<head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0041/0535.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);

  ga('create', 'UA-67995810-1', 'auto');
  </script>
</head>

<div class="row">
  <nav class="navbar navbar-custom
    <% unless not @transparent_navbar.nil? and @transparent_navbar %>navbar-inverse
    <% end %> navbar-fixed-top" id="#navbar">
    <nav class="navbar-inner">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#account-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ERDOS</a></div>
        <div class="collapse navbar-collapse" id="account-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="450" data-close-others="false">
                    <%= current_user.email %> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu nav-account-dropdown">
                    <li><a tabindex="-1" href="#">Literature</a></li>
                    <li><a tabindex="-1" href="#">Manage Research</a></li>
                    <li><a tabindex="-1" href="#">Manage Publications</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="#">My Publications</a></li>
                    <li><a tabindex="-1" href="#">My Reviews</a></li>
                    <li><a tabindex="-1" href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="#">Reading List</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="#">Change Password</a></li>
                    <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </li>
            <% else %>
            <% end %>
            <li>
              <div class="nav navbar-nav navbar-right col-l-3">
                <form class="navbar-form" role="search">
                  <div class="input-group">
                    <input type="text" class="form-control search-box typeahead tt-query" placeholder="Search" autocomplete="off">

                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </nav>
</div>